
html {
  scroll-behavior: auto !important;
}

body {
  background-color: black;
  font-family: "Roboto";
}

/* Navbar */
.bg-navbar {
  background: rgba(2, 0, 36, 0.452);
}

/* Carousel */
.carousel-item img {
  height: 700px;
  object-fit: cover;
}

/* Cards */
#quienes-somos .card > img {
  height: 200px;
  object-fit: cover;
}
.card {
  background-color: rgb(26, 199, 199);
}
.hero-line {
  color: rgb(26, 199, 199);
  border: none;
  border-top: 2px solid;
}
.fa-plane {
  background-color:rgb(26, 199, 199);
  padding-left: 48%;
  padding-right: 48%;
}
.fa-mountain {
  background-color:rgb(26, 199, 199);
  padding-left: 48%;
  padding-right: 48%;
}
.fa-route {
  background-color:rgb(26, 199, 199);
  padding-left: 48%;
  padding-right: 48%;
}
.card-img-top {
  height: 200px;
}
.btn {
  font-size: x-large;
}

/* Footer */
.custom-footer {
  background-color:  rgb(26, 199, 199);
}
h3 {
  font-size: xx-large;
}
a {
  text-decoration: none;
}

/* Modals */
.modal-content {
  background-color: rgba(0, 0, 0, 0.7);
  color: #ffffff;
  text-align: center;
}
